@base-bg: #3F51B5;
@base-body: #C5CAE9;
@base-bg-accent: #E91E63;
@base-bg-default: #2c3e50; /* #2c3e50; */

@base-color: white;
@base-link-color: white;

@color-indigo: #3F51B5;
@color-teal: #009688;
@color-darkgray: #2c3e50;

@color-business : #F44336;
@color-restaurants : #9C27B0;
@color-local : #3F51B5;
@color-events : #03A9F4;
@color-people : #009688;
@color-jobs: #795548;

@color-upperhv : #E91E63;
@color-midhv : #673AB7;
@color-lowerhv : #4CAF50;

@color-columbia : #F44336;
@color-greene : #9C27B0;
@color-rensselaer : #3F51B5; 
@color-albany : #03A9F4 ;
@color-westchester : #CDDC39;
@color-rockland : #009688;
@color-putnam : #795548;
@color-dutchess : #FF5722;
@color-orange : #9E9E9E;
@color-ulster : #EEFF41;
@color-sullivan : #03A9F4;

/* Color for cards */

.basecard {
	margin-bottom: 10px !important;
	.panel{
		border-color: gray;
	}
	.panel-heading{
		background-color: @color-darkgray !important;
		color: white !important;
	}
}
.basecard-text { 
	color: white !important;
	font-size: 1.3em !important;
}

.bg-primary {
	background-color: @base-bg !important;
}
.text-primary {
	color: @base-bg !important;
}

.banner {
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
	background-color : rgba(0, 0, 0, 0.6) !important;
	color: @base-color;
}

.btn-accent {
	background-color: @base-bg-accent !important;
	color: @base-color !important;
}


.business {background-color : #F44336 !important;}
.restaurants {background-color : #9C27B0 !important;}
.local {background-color : #3F51B5 !important;}
.events {background-color : #03A9F4 !important;}
.people {background-color : #009688 !important;}
.jobs {background-color : #795548 !important;}

.upperhv {
	background-color : #E91E63 !important;
}
.midhv {
	background-color : #673AB7 !important;
}
.lowerhv {
	background-color : #4CAF50 !important;
}

.columbia {
	background-color : #F44336 !important;
}
.greene {
	background-color : #9C27B0 !important;
}
.rensselaer {
	background-color : #3F51B5 !important;
}
.albany {
	background-color : #03A9F4 !important;
}
.westchester {
	background-color : #CDDC39 !important;
}
.rockland {
	background-color : #009688 !important;
}
.putnam {
	background-color : #795548 !important;
}
.dutchess {
	background-color : #FF5722 !important;
}
.orange {
	background-color : #9E9E9E !important;
}
.ulster {
	background-color : #EEFF41 !important;
}
.sullivan {
	background-color : #03A9F4 !important;
}


/* Top level */
#appNav{

	margin-top: -20px !important;
	margin-right: 0px;
	background-color: @base-bg !important;
	color: white !important;
	font-size: 1.1em !important;
	padding: 0px;

	.sidebar-brand{
		background-color: @base-bg-accent !important;	
		color: white !important;
		font-size: 1.2em !important;
		margin-bottom: 15px !important;	
	}

	.sidebar-nav li a{
		display: inline;
		color: white !important;
	}

	.sidebar-brand a, .btn-light{
		background-color: inherit !important;
		color: yellow !important;
	}	

	li.sidebar-list:hover {
		background-color: @base-bg-accent !important;	
	}

	#sidebar-wrapper{
		z-index: 2 !important;
		height: 350px !important;
	}

	#menu-toggle{
		background-color: @base-bg-accent !important;
		z-index: 2 !important;
		margin-top: 60px !important;
		margin-right: 0px;
	}
}

.accountsui{
	margin-top: 20px !important;
	padding-right: 20px !important;
	#login-other-options { 
		color: @base-bg-accent !important;
	}
	a.dropdown-toggle{ 
		color: white;
	}
	.open a.dropdown-toggle{
		color: white;
		background-color: transparent !important;
	}

}

#appHeader{
	font-size: 1.2em !important;

	.badge {
		background-color: red !important;	
		color: yellow;
		font-size: 1.0em !important;
		margin: 0px;
		padding: 5px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.badge.active {
		background-color: green !important;	
	}

	.container {
		margin-left: 10px;
	}

	#appLogo {
		padding-right:30px;
	}

	.navbar-fixed-top{
		z-index: 10 !important;
	}

	.navbar-brand:hover, .navbar-brand:focus {
		color: @base-bg-accent !important;	
	}

	#appLogo{
		font-size: 1.3em !important;
	}

	.fa-heart{
		color: @base-bg-accent !important;	
	}

	button.navbar-toggle {
		background-color: @base-bg-accent !important;
		border-color: transparent !important;
		color: white !important;
		font-size: 1.1em !important;
		margin-right: 0px;
		padding: 2px;
		padding-right: 13px;
		padding-left: 13px;
	}

	.navbar-default{
		background-color: @base-bg !important;	
	}

	.active a {
		background-color: @base-bg-accent !important;
	}
}

#appMain{
	/*padding-top:75px;*/
	background-color: @base-body;

	.container-fluid{
		padding-top:75px;
	}
	.header {
		height: 550px !important;
	}

	#top {
		padding: -50px !important;
	}

	#contact{
		padding-left: 20px !important;
	}

	.banner-caption {
		padding-left: 30px !important;
	}
}

footer {
	padding: 10px !important;
}

#appFooter {

	.navbar {
		min-height: 40px;
	}
	.navbar-default{
		background-color: @base-bg !important;	
		color: white !important;
		padding: 0px !important;
	}

	a {
		color: white !important;
	}

	.active a {
		background-color: @base-bg-accent !important;
	}

	#appSocial {
		padding-top: 10px !important;
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}
