<!-- Sidebar -->
<template name="appNav">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark toggle">
        <i class="fa fa-arrow-left"></i>
    </a>

    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a  id="menu-close" href="#" 
                class="btn btn-light pull-right toggle">
                <i class="fa fa-arrow-right"></i>
            </a>
            <!-- Sidebar: Brand (Top) -->
            <li class="sidebar-brand">
                <a href="/home"> Hudson Valley</a>
            </li> 

            <!-- Sidebar: Type (Breadcrumb) 
            <li><a href="/regions">Regions</a> 
                {{regionBreadcrumb}}
            </li>
            {{#if showCounty}}
            <li><a href="/counties">Counties</a> 
                {{countyBreadcrumb}}
            </li>
            {{/if}}
            -->
            
            <!-- Sidebar: Subtype (Options) -->
            {{#each options}}
                <li class="sidebar-list"><a href="{{link}}" class="fa fa-lg {{icon}}"> {{name}} </a></li>
            {{/each}}
        </ul>
    </nav>
</template>
  