<template name="appFooter">  
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div id="appSocial" class="row text-center">      
            <ul class="list-inline pull-left">
                <li><a href="#">
                    <i class="fa fa-facebook fa-fw fa-2x"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-twitter fa-fw fa-2x"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-google fa-fw fa-2x"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-pinterest fa-fw fa-2x"></i>
                </a></li>                
                <li><a href="#">
                    <i class="fa fa-android fa-fw fa-2x"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-apple fa-fw fa-2x"></i>
                </a></li>
                <li> <span class="text-muted pull-right">
                    Terms of Service
                    </span></li>
                <li> <span class="text-muted pull-right">
                    Privacy Policy
                    </span></li>
                <li><span class="text-muted pull-right">
                    Copyright &copy; 2015 DigitalHV 
                    </span></li>
            </ul>
        </div>
        
    </div>
</template>
