<template name="appHeader">

	<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">

        <!-- Collapsed Menu -->
        <button type="button" 
          class="navbar-toggle collapsed" 
          data-toggle="collapse" data-target="#navbar" 
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">
            Toggle navigation
          </span>
          <span class="fa fa-bars"></span>
        </button>

        <!-- Logo -->
        <a id="appLogo" class="navbar-brand" 
          href="/welcome" title="Digital HV">
          <span class="fa fa-heart"></span>
           HV
        </a>
      </div><!--/.nav-header -->

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <!-- Regions -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
              role="button" aria-expanded="false"> 
                <i class="fa fa-map-marker"></i> Places 
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/regions">All Regions</a></li>          
              {{#each regions}}
                <li class="divider"></li>
                <li class="dropdown-header">{{name}}</li>
                <li><a href="/regions/{{regionID}}">All Counties</a></li>
                {{#each counties}}
                <li><a href="/counties/{{this}}">{{this}}</a></li>
                {{/each}}
              {{/each}}
            </ul>
          </li>

          <!-- Regions -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
              role="button" aria-expanded="false"> 
                <i class="fa fa-info-circle"></i> About 
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/welcome#top">Welcome</a></li>  
              <li><a href="/welcome#about">Mission</a></li> 
              <li><a href="/welcome#services">Services</a></li>
              <li><a href="/welcome#portfolio">Regions</a></li>   
              <li class="divider"></li>    
              <li><a href="/welcome#contact">Contact Us</a></li>  
              <li><a href="/welcome#contact">Terms Of Service</a></li>   
              <li><a href="/welcome#contact">Privacy Policy</a></li>    
            </ul>
          </li>

          <!-- Create Options -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
              role="button" aria-expanded="false"> 
                <i class="fa fa-plus"></i> Add 
                <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/new/business"><i class="fa fa-bank"></i> Business</a></li>  
              <li><a href="/new/restaurant"><i class="fa fa-beer"></i> Restaurant</a></li>  
              <li><a href="/new/local"><i class="fa fa-leaf"></i> Go Local</a></li>  
              <li><a href="/new/event"><i class="fa fa-calendar"></i> Event</a></li> 
              <li><a href="/new/person"><i class="fa fa-user"></i> Person</a></li>  
              <li><a href="/new/job"><i class="fa fa-bullhorn"></i> Job</a></li>      
            </ul>
          </li>

          <!-- Hiring Badge -->
          <li>
            <a href="/jobs"><span class="badge {{isHiring jobCount}}">    
              <i class="fa fa-bullhorn"> </i> {{jobCount}} Hiring </span>
            </a>
          </li>
        </ul>

        <!--
        <ul class="nav navbar-nav">
          <li> Login </li>
        </ul>
        -->

      </div><!--/.nav-collapse -->

    </div><!--/.nav-container -->
  </nav>

</template>