<!-- app: sidebar -->
<template name="sideBar">
  <div id="sidebar"
       class="column col-sm-2 col-xs-1 sidebar-offcanvas">
    
    <ul class="nav">
      <li>
        <a id="sidebarToggle" href="#" class="{{offCanvas}}" 
          data-toggle="offcanvas" >
          <i class="glyphicon {{glyphiconDirection}}"></i>
        </a>
      </li>
    </ul>
     
      <!-- full size =  nav-->
    <ul id="lg-menu" class="nav {{showLarge}}" >
        <li class="active"> 
          <a href="/welcome">
            <i class="glyphicon glyphicon-home"></i> 
            Home </a>
          </li>
        <li class="active"> 
          <a href="#locations">
            <i class="glyphicon glyphicon-map-marker"></i> 
            Locations </a>
          </li>
        <li>
          <a href="#businesses">
            <i class="glyphicon glyphicon-list-alt"></i> 
            Businesses </a></li>
        <li>
          <a href="#people">
            <i class="glyphicon glyphicon-user"></i> 
            People </a></li>
        <li>
          <a href="#jobs">
            <i class="glyphicon glyphicon-education"></i> 
            Jobs </a></li>
        <li>
          <a href="#local">
            <i class="glyphicon glyphicon-leaf"></i> 
            Local </a></li>
        <li>
          <a href="#news">
            <i class="glyphicon glyphicon-bullhorn"></i> 
            News</a></li>
    </ul>

    <ul id="sidebar-footer" class="list-unstyled hidden-xs" >
        <li>
          <a href="http://www.bootply.com">
            <h3>Bootstrap</h3> 
            <i class="glyphicon glyphicon-heart-empty"></i> Bootply
          </a>
        </li>
    </ul>
    
    <!-- tiny only nav-->
    <ul id="xs-menu" class="nav {{showSmall}}">
      <li>
        <a href="/welcome" class="text-center">
          <i class="glyphicon glyphicon-home"></i>
        </a>
      </li>
      <li>
        <a href="#locations" class="text-center">
          <i class="glyphicon glyphicon-map-marker"></i>
        </a>
      </li>
      <li>
        <a href="#businesses" class="text-center"> 
          <i class="glyphicon glyphicon-list-alt"></i>
        </a></li>
      <li>
        <a href="#people" class="text-center">
          <i class="glyphicon glyphicon-user"></i>
        </a></li>
      <li>
        <a href="#jobs" class="text-center">
          <i class="glyphicon glyphicon-education"></i>
        </a></li>
      <li>
        <a href="#local" class="text-center">
          <i class="glyphicon glyphicon-leaf"></i>
        </a></li>
      <li>
        <a href="#news" class="text-center">
          <i class="glyphicon glyphicon-bullhorn"></i>
        </a></li>
    </ul>

  </div> 
</template>