<!-- Layout -->
<template name="layout">

  <div id="appNav">
    {{> yield "appNav"}}
  </div>

  <div id="appMain">
    {{> yield "appMain"}}
  </div>

  <footer id="appFooter">
    {{> yield "appFooter"}}
  </footer>
</template>

<!-- Sidebar -->
<template name="sidebar">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a  id="menu-close" 
                href="#" 
                class="btn btn-light btn-lg pull-right toggle">
                <i class="fa fa-times"></i>
            </a>

            <li class="sidebar-brand">
                <a href="#top"> Digital HV </a>
            </li>

            <li><a href="#top">         Home </a></li>
            <li><a href="#about">       About   </a></li>
            <li><a href="#services">    Services </a></li>
            <li><a href="#portfolio">   Portfolio </a></li>
            <li><a href="#contact">     Contact </a></li>
        </ul>
    </nav>
</template>
  
<!-- Footer -->
<template name="footer">  
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Start Bootstrap</strong>
                </h4>
                <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</template>
